body {
  height: 100vh;
  background-color: #969aab;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

canvas {
  background-color: #21120a;
  border: 5px solid #737373;
}

#game-over,
#game-screen {
  display: none;
  padding-right: 2em;
}

.styles {
  display: flex;
}
button {
  width: 100%;
  height: 36px;
}

.start-text {
  color: #f1f0ee;
  font-family: 'Oswald', sans-serif;
  font-size: 29px;
}

div .score-parent {
  margin-bottom: 10px;
}
.score-parent {
  display: none;
  width: 100%;
  height: 90px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 30px;
}

.score,
.lives {
  width: 100%;
  border-radius: 2px;
  padding-left: 1em;
  background-color: rgb(255, 255, 254);
  margin: 6px 0;
}

.game-header {
  position: fixed;
  top: 42px;
  color: rgb(255, 255, 254);
  font-family: 'Oswald', sans-serif;
}
