body {
  height: 100vh;
  background-color: #969aab;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: #21120a;
  border: 5px solid #737373;
}

#game-over,
#game-screen {
  display: none;
}
button {
  width: 150px;
  height: 36px;
}
